<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="Student" type="io.github.snowythinker.mh.test.page.Student"/>
	</typeAliases>

	<plugins>
		<plugin interceptor="io.github.snowythinker.mh.page.interceptor.PageInterceptor" />
	</plugins>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.h2.Driver" />
				<property name="url" value="jdbc:h2:file:~/h2/.h2/mybatis-helper" />
				<property name="username" value="mybatis-helper" />
				<property name="password" value="mybatis-helper" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="StudentMapper.xml"/>
	</mappers>
</configuration>